.services .sec1 {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  .services .sec1 .col-lg-6 img {
    width: 100%;
    height: 100%;
  }
  
  .services .sec1 h2 {
    color: #237fe8;
    font-family: "popins-bold";
    font-size: 1.3rem;
  }
  
  .services .sec1 h3 {
    color: #04162e;
    font-family: "popins-bold";
    font-size: 2rem;
  }
  
  .services .sec1 p {
    text-align: justify;
    color: #393939;
    font-family: "open-sans-medium";
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .services .box-shadow {
    border-radius: 1rem;
    box-shadow: 0 2px 5px #0005;
    border: 2px outset #fff5;
    background: linear-gradient( rgba(63, 94, 251, 0.154) 0%, rgba(252, 70, 106, 0.161) 100%);
    padding: 3rem 5% !important;
    z-index: 2;
  }
  
  .services .sec2 {
    padding: 3rem 1rem;
    position: relative;
  }
  
  .services .sec2 .row {
    margin: 0 0 5rem;
  }
  
  .services .sec2 .row .col-md-6 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .services .sec2 h3 {
    color: #237fe8;
    font-family: "popins-bold";
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  
  .services .sec2 p {
    color: #393939;
    font-family: "open-sans-medium";
    font-size: 1rem;
    text-align: justify;
  }
  
  .services .swiper {
    width: 100%;
    height: 100%;
  }
  
  .services .swiper .swiper-wrapper {
    isolation: isolate;
  }
  
  .services .swiper .swiper-button-next,
  .services .swiper .swiper-button-prev {
    height: 2rem;
    width: 2rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .services .swiper .swiper-button-next::after,
  .services .swiper .swiper-button-prev::after {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .services .swiper .swiper-pagination .swiper-pagination-bullet {
    background: white;
    opacity: 0.3;
  }
  
  .services
    .swiper
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }
  
  .services .swiper img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .services .sec3 {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 3rem 1rem 3rem;
  }
  
  .services .sec3 .bg {
        position: absolute;
    top: 0%;
    right: 0%;
    height: 250%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
    transform: scaleX(-1);
  }
  
  
  
  .services .sec3 .row:last-child {
    flex-direction: column;
    align-items: center;
  }
  
  .services .sec3 h6 {
    text-align: center;
    font-family: "popins-bold";
    max-width: 769px;
    margin: auto;
    font-size: 1rem;
    margin-bottom: 20vh;
  }
  
  .services .sec3 h4 {
    text-align: center;
    color: white;
    font-family: "popins-bold";
    font-size: 1.7rem;
  }
  
  .services .sec3 p {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-block: 1rem;
    color: white;
    opacity: 0.9;
  }
  
  .services .sec3 a {
    background: #4a87cd;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-top: 1.5em;
    display: block;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    z-index: 5;
  }
  
  .services .sec3 .swiper {
    width: 100%;
  }
  
  .services .sec3 .swiper img {
    width: 100%;
    height: 3rem;
    object-fit: contain;
    padding: 0 2rem;
  }
  
  .services .banner::before {
    background: linear-gradient(
      to right top,
      rgba(79, 5, 71, 0.525),
      rgba(85, 3, 3, 0.525),
      rgba(11, 92, 53, 0.573)
    );
  }
  
  
  /*maruf's code*/
  
  @media screen and (max-width: 769px) {
    .services .sec3 h6 {
      margin-bottom: 50vh;
    }
  
    .services .sec2 .col-md-6 {
      margin: 1rem 0;
    }
  }
  .service img{
    border-radius: .7rem;
  }