.container-fluid {
    position: relative;
  }
  
  .contact .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  
   .contact .sec1 .container {
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: url(../../../assets/form.jpeg);
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-bottom: 5rem;
  }
  
  .contact .sec1 iframe {
    width: 100%;
    height: 100%;
    min-height: 50vh;
  }
  
  .contact .sec1 form {
    padding: 0 2rem;
    background-image: linear-gradient(45deg, rgba(223, 218, 218, 0.028), rgba(202, 199, 199, 0.075));
    backdrop-filter: blur(8px);
    border-radius: .7em;
    border: 2px outset #fff5;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    overflow: hidden;
    scroll-behavior: none;
    transition: 0.5s cubic-bezier(0.42, 0.59, 0.49, 1.29);
    border-bottom: 2px solid #fff3;
      box-shadow: 0 2px 5px #0005;
    }
  
  .contact .sec1 h3 {
    font-family: 'Roboto', sans-serif;
    color: #0451aa;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2.3rem;
  }
  
  .contact .sec1 p {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0rem 0 4em;
    text-align: justify;
  }
  
  .contact .sec1 label {
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .contact .sec1 input,
  .contact .sec1 textarea,
  .contact .sec1 select {
    border-radius: 0;
    border: none;
    font-size: 0.9rem;
    padding: 0.5em 1em;
  }
  .option{
    background-color: rgba(181, 181, 183, 0.646);
  }
  .map{
    border-radius: 0.7rem;
  }
  .form-ct{
    border-bottom: 2px solid rgb(100, 158, 240) !important;

  }
  .contact .sec1 input:focus,
  .sec1 select:focus,
  .sec1 textarea:focus {
    outline: none;
  }
  
  .contact .sec1 button {
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    font-family: "popins-bold";
    background: none;
    border: 1px solid rgb(12, 95, 172) ;
    margin: 1em 0;
    border-radius: 10px;
    transition: 1s;
  }
  
  .contact .sec1 button:hover {
    background-color: #0451aa;
    color: white;



  }
  
  .faq {
    position: relative;
    overflow: hidden;
  }
  
  
  .faq .bg {
    position: absolute;
    top: 5rem;
    right: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: opacity(0.8);
  }
  
  .faq .bg1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    object-position: bottom;
  }
  
  .faq h2 {
    font-size: 1.2rem;
    color: #0451aa;
    width: 100%;
    text-align: center;
  }
  
  .faq h3 {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    font-family: "popins-bold";
    margin-bottom: 2rem;
  }
  
  .faq .faq-item {
    max-width: 1024px;
    margin-inline: auto;
    margin-block: 1em;
  }
  
  .faq .faq-item label {
    padding: 2em;
    cursor: pointer;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .faq .faq-item label h5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .faq .faq-item label p {
    height: 0;
    opacity: 0;
    transition: 0.5s all ease;
    margin: 0;
  }
  
  .faq .faq-item label h5 i:nth-child(2) {
    display: none;
  }
  
  .faq .faq-item input {
    display: none;
  }
  
  .faq .faq-item input:checked + label {
    color: white;
  }
  
  .faq .faq-item input:checked + label p {
    height: 5rem;
    opacity: 1;
  }
  
  .faq .faq-item input:checked + label h5 i:nth-child(1) {
    display: none;
  }
  
  .faq .faq-item input:checked + label h5 i:nth-child(2) {
    display: block;
  }
  
  .float {
    position: absolute;
    animation: sliding infinite 5s;
  }
  
  .float:nth-child(1) {
    left: 1rem;
    bottom: 5rem;
    z-index: 2;
    animation-delay: 0.5s;
  }
  
  .float:nth-child(2) {
    right: 2rem;
    bottom: 20rem;
    z-index: 2;
    animation-delay: 1s;
  }
  
  .float:nth-child(3) {
    right: 50%;
    bottom: 35%;
    height: 5rem;
    z-index: -1;
  }
  
  .contact .banner::before {
    background: linear-gradient(
      to right,
      rgba(134, 8, 8, 0.521),
      rgba(2, 2, 110, 0.8),
      rgba(18, 71, 2, 0.8)
    );
  }
  
  @media screen and (max-width: 769px) {
    .faq .faq-item input:checked + label p {
      height: 10rem;
      pointer-events: none;
    }
    .sec1 form {
      margin-top: 3rem;
    }
  }
  
  .send{
    background-color: #0451aa;
    color: white;
  }
  
  /* Glass cards  */
  
  .contact  .sec2 {
    overflow: hidden;
    padding: 1rem 1rem 3rem;
  }
  
  .contact  .sec2 .container  .card {
    position: relative;
    padding: 2em 2em 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s all ease;
    min-height: 25rem;
    margin: 1em 0;
  }
  .contact  .sec2  .container .col {
    position: relative;
    padding: 2em 2em 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s all ease;
    min-height: 25rem;
    margin: 1em 0;
  }
  .contact  .sec2 .container  .col::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: .5s;
    
  }
  .contact  .sec2  .container .col::after{
  
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: .5s;
    filter: blur(30px);
  }
  .contact  .sec2 .container  .col:hover::after ,
  .contact  .sec2  .container .col:hover::before{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100%-90px);
  
  }
  .contact  .sec2 .row .col:nth-child(2)::before,
  .contact  .sec2 .row .col:nth-child(2)::after{
    background: linear-gradient(315deg, #03a8f474,#ff005993);
  
  } 
  .contact  .sec2 .row .col:nth-child(1)::before,
  .contact  .sec2 .row .col:nth-child(1)::after{
    background: linear-gradient(315deg, #ffbb0088,#ff005996);
  
  } 
  .contact  .sec2 .row .col:nth-child(3)::before,
  .contact  .sec2 .row .col:nth-child(3)::after{
    background: linear-gradient(315deg, #6cd73e9f,#00d0ff98);
  
  } 
  .contact  .sec2 .row .col:nth-child(4)::before,
  .contact  .sec2 .row .col:nth-child(4)::after{
    background: linear-gradient(315deg, #17e7ea94,#ff005996);
  
  } 
  .contact  .sec2 .container .col span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
  }
  .contact  .sec2  .container .col span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  .contact  .sec2 .container  .col:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
    
  }
  .contact  .sec2 .container  .col span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -.1s;
    
  
    
  }
  .contact  .sec2 .container  .col:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
    
  }
  .contact  .sec2 .card {
    position: relative;
    z-index: 1;
    left: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transform: 0.5s;
    box-shadow:0 5px 15px rgba(255, 255, 255, 0.1) ;
  }
  .contact  .sec2 .col:hover .col{
    left: -25px;
    padding: 60px 40px ;
  }
  
  /* .contact  .sec2 .card:hover {
    background: #4a87cd;
    color: white;
    transform: scale(1.1);
  }
  
  .contact  .sec2 .card:hover img {
    filter: saturate(0) brightness(2);
  } */
  
  .contact  .sec2 .card .reveal-btn {
    font-family: "popins-bold";
    border: 2px solid rgba(0, 0, 0, 0.808);
    font-size: 0.9rem;
    transition: none;
    margin-top: auto;
  }
  
  .contact  .sec2 .card:hover .reveal-btn {
    color: white;
    border-color: white;
  }
  
  .contact  .sec2 .card h4 {
    font-family: "popins-bold";
    color: #0451aa;
    margin-top: 1em;
    font-size: 1.3rem;
  }
  
  /* .contact  .sec2 .card:hover h4 {
    color: white;
  } */
  
  .contact  .sec2 .card p {
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.8;
  }
  
  .contact  .sec2 img {
    height: 7rem;
    padding: 1em;
  }
  
  
  /* Glass Faq */
  .contact-glass{
    position: absolute;
    background-color: #17182447;
    height: 10vh;
    width: 100%;
    background-size: cover;
    z-index: -3;  }
    .contact-glass svg{
      transform: scale(-1);
      display: block;
  }
  .padding-top{
    padding-top: 5rem;
  }
  
  .dropdown .bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  }
  .faq .menu label {
  padding: 5px;
  cursor: pointer;
  background-image: linear-gradient(45deg, rgba(223, 218, 218, 0.067), rgba(202, 199, 199, 0.133));
  backdrop-filter: blur(8px);
  border-radius: .8em;
  position: relative;
  border: 2px outset #fff5;
  box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  scroll-behavior: none;
  transition: 0.5s cubic-bezier(0.42, 0.59, 0.49, 1.29);
  border-bottom: 2px solid #fff3;
    box-shadow: 0 2px 5px #0005;
  }
  
  
  .faq .menu label .hidden {
  max-height: 0;
  opacity: 0;
  transition: .3s ;
  margin: 0;
  overflow-x: auto;
  font-family: "popins-light";
  font-size: 15px;
  }
  .faq .menu label h5 {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
  font-size: .9em;
  }
  .faq .menu label h5 i:nth-child(2) {
  display: none;
  }
  
  .faq .menu input {
  display: none;
  }
  
  .faq .menu input:checked + label {
  color: white;
  transition: .3s;
  
  }
  .menu input:checked + label h5{
  box-shadow: 0 2px 5px #0005;
  border-radius: .8em ;
  background-color: transparent;
  background-image: linear-gradient(45deg, #6b9ad428, #5d92ef28);
  }
  
  .faq .menu input:checked + label .hidden {
  max-height: 100vh;
  opacity: 1;
  transition: 1s;
  }
  
  .faq .menu input:checked + label h5 i:nth-child(1) {
  display: none;
  }
  
  .faq .menu input:checked + label h5 i:nth-child(2) {
  display: block;
  }
  .faq table {
  width: 100%;
  min-width: 480px;
  }
  
  .faq table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  
  }
  
  .faq table tr:first-child {
  border-bottom: 2px solid white;
  }
  .faq table tr:last-child {
  border-bottom: none;
  }
  
  .faq table td {
  padding: 0.25em 0;
  padding-left: 50px;
  }
  .faq table th{
  padding-left: 40px;
  
  
  }
  .faq table td img {
  height: 2rem;
  margin-right: 0.5em;
  }
  
  .faq table td a {
  color: white;
  }
  
  /* Form */
  form .txt_field{
    position: relative;
    font-family:"Roboto";
    border-bottom: 2px solid #d7d5d5;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #121212de;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #1f90d6;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -7px;
    color: #f2faff;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .contact .sec1 input, .contact .sec1 textarea, .contact .sec1 select{
    background: border-box;
    border-radius: 8px;
  }
  .contact .sec1 textarea{
    border: 1px solid #ced4da;

  }