
.categories {
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap !important;
    padding: 0;
  }
  .rounds-below{
    border-radius: 0 0 15px 15px;
  }
  .product-wrapper-video p{
    font-size: 15px;
  }
  .product-wrapper-video .row{
    width: 90%;
    margin: 0 auto;
  } 
  .product-wrapper-video h3{
    font-size: 1.55rem;
  }
  .categories button.active {
    background: #183c75;
  }
  .padding{
    padding: 13px 0!important;
    font-size: 18px!important;
  }
  .product .sec2 {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  .product .sec2 .product-slider {
    position: relative;
    width: 80%;
    max-width: 1024px;
    margin: auto;
    height: 30rem;
    isolation: isolate;
  }
  
  .product .sec2 .product-slider .product-slider-next,
  .product .sec2 .product-slider .product-slider-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    z-index: 5;
  }
  .product .sec2 .product-slider .product-slider-next {
    right: 10%;
    left: auto;
  }
  
  .product .sec2 .rate {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .product .sec2 .rate p {
    margin: 0 0 0 0.5rem;
  }
  
  .product .sec2 .menus {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(118, 118, 118);
    margin-top: 0.5em;
  }
  
  .product .sec2 .menus h5 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .product .sec2 .container {
    max-width: 769px;
  }
  
  .product .sec2 .rate img {
    width: 75px;
  }
  
  .product .sec2 h2 {
    font-family: "popins-bold";
    color: #183c75;
  }
  
  .product .sec2 h4 {
    font-family: "open-sans-medium";
    font-size: 1.1rem;
  }
  
  .product .sec2 h3 {
    font-family: "popins-medium";
    color: #183c75;
    font-size: 1.5rem;
  }
  
  .product .sec2 .row .col-md-6:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .product .sec3 .menu {
    max-width: 1024px;
    margin-inline: auto;
    margin-block: 0.5em;
  }
  .slider-padding{
    margin-top: 80px;
  }
  
  
  
  
  
  .product .sec2 .cart,
  .product .sec2 .buy {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.5s all ease;
  }
  
  .product .sec2 .cart:hover,
  .product .sec2 .buy:hover {
    scale: 1.05;
  }
  
  .product .sec2 .buy {
    background: #183c75;
    color: white;
  }
  
  .product .sec3 .review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
  
  .product .sec3 .review img {
    width: 75px;
  }
  
  .product .sec3 .revie h6 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .product .sec3 {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 6rem 1rem 3rem;
  }
  
  
  
  .product .sec3 .row:last-child {
    flex-direction: column;
    align-items: center;
  }
  .buy-botton{
    margin-top: 3rem;
  }
  .product .sec3 h6 {
    text-align: center;
    font-family: "popins-bold";
    max-width: 769px;
    margin: auto;
    font-size: 0.9rem;
    margin-bottom: 25vh;
  }
  
  .product .sec3 h4 {
    text-align: center;
    color: white;
    font-family: "popins-bold";
    font-size: 1.7rem;
  }
  
  .product .sec3 p {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-block: 1rem;
    color: white;
    opacity: 0.9;
  }
  
  .product .sec3 a {
    background: #4a87cd;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-top: 1.5em;
    display: block;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .product .sec3 .swiper {
    width: 100%;
  }
  
  .product .sec3 .swiper img {
    width: 100%;
    height: 3rem;
    object-fit: contain;
    padding: 0 2rem;
  }
  
  .product .banner::before {
    background: linear-gradient(
      to right,
      rgba(2, 2, 110, 0.8),
      rgba(2, 110, 45, 0.8),
      rgba(134, 8, 8, 0.521)
    );
  }
  
  @media screen and (max-width: 769px) {
    .navbar {
      position: relative !important;
    }
    .product .sec3 h6 {
      margin-bottom: 50vh;
    }
  
    .product .sec1 form {
      position: static;
    }
  
    .product .sec2 .row .col-md-6:nth-child(2) {
      align-items: flex-start;
    }
    .product-wrapper-video .row{
      width: 100%;
    } 
    .product-slider h3,.product-slider iframe{
      width: 100%!important;
    }
  }
  
  
  
     /* accordian */
     .dropdown-container{
      padding: 8rem 0 0 0;
      background-size: cover;
      background-position: left; 
   }
   .dropdown .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
   }
  .product .sec3 .menu label {
    padding: 5px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    border-radius: .8em;
    position: relative;
    border: 2px outset #fff5;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    scroll-behavior: none;
    transition: 0.5s cubic-bezier(0.42, 0.59, 0.49, 1.29);
    border-bottom: 2px solid #fff3;
      box-shadow: 0 2px 5px #0005;
  }
    
  
  .product .sec3 .menu label .hidden {
    max-height: 0;
    opacity: 0;
    transition: .3s ;
    margin: 0;
    overflow-x: auto;
    font-family: "popins-light";
    font-size: 15px;
  }
  .product .sec3 .menu label h5 {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
    font-size: .9em;
  }
  .product .sec3 .menu label h5 i:nth-child(2) {
    display: none;
  }
  
  .product .sec3 .menu input {
    display: none;
  }
  
  .product .sec3 .menu input:checked + label {
    color: white;
    transition: .3s;
  
  }
  .menu input:checked + label h5{
    box-shadow: 0 2px 5px #0005;
    border-radius: .8em ;
    background-color: transparent;
    background-image: linear-gradient(45deg, #6b9ad428, #5d92ef28);
  }
  
  .product .sec3 .menu input:checked + label .hidden {
    max-height: 100vh;
    opacity: 1;
    transition: 1s;
  }
  
  .product .sec3 .menu input:checked + label h5 i:nth-child(1) {
    display: none;
  }
  
  .product .sec3 .menu input:checked + label h5 i:nth-child(2) {
    display: block;
  }
  .product .sec3 table {
    width: 100%;
    min-width: 480px;
  }
  
  .product .sec3 table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  
  }
  
  .product .sec3 table tr:first-child {
    border-bottom: 2px solid white;
  }
  .product .sec3 table tr:last-child {
    border-bottom: none;
  }
  
  .product .sec3 table td {
    padding: 0.25em 0;
    padding-left: 50px;
  }
  .product .sec3 table th{
    padding-left: 40px;
  
  
  }
  .product .sec3 table td img {
    height: 2rem;
    margin-right: 0.5em;
  }
  
  .product .sec3 table td a {
    color: white;
  }
  .product .sec3 .bg {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: opacity(0.85);
  }
  
  .product .sec3 .bg1 {
    position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -3;
      object-fit: cover;
      object-position: top;
  }
  .rounds{
    border-radius: 15px;
  }
  
  
  .accordian-details{
    padding-left: 50px;
    padding-bottom: 10px;
  }
  .accordian-details a,.accordian-details p{
    color: rgb(255, 255, 255);
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    font-weight: 500;
  
  }
  .accordian-details a{
    text-decoration: underline !important;
  }
   label   h4{
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    font-family: "open-sans-medium" !important;
    padding: 20px 0 !important;
  
  
  
  }
  .accordian-top{
    margin-bottom: 30px;}
  .accordian-details p{
    margin: 0;
    margin: 0 !important;
    padding: 0 !important;
  
  }
  .accordian-content{
    padding:  0 20px;
  }
  .accordian-bottom{
    align-items: center;
  }
  .container-fluid.sec2.py-5{
    padding: 0 ;
  }
  .bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;
    position: relative;
    z-index: 2;
  }
  
  .catagory-name   {

      filter: contrast(10);
    position: relative;
    z-index: 2;
    overflow: hidden;
    opacity: 1;
  }
  
   .catagory-name h3 {
      color: white;
      font-size: 90px;
      font-weight: bold;
    font-family: "popins-bold";
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      animation: show-hide 10s  infinite;
      
      filter: opacity(0);
  }
  
   .catagory-name h3 {
      animation-direction: normal;
      animation-delay:1s;
  }
  
  .container-fluid.sec2.py-5 {
      padding-top: 120px !important;
      position: relative;
      top: -110px;
      margin-bottom: -110px;
  }
  
  
  @keyframes show-hide {
      0% {
          filter: opacity(0) blur(0.08em);
          letter-spacing: -0.8em;
      }
  
      25% {
          filter: opacity(1) blur(0.08em);
      }
      25% {
          filter: opacity(1) blur(0.045em);
      }
  
      40% {
          filter: opacity(1) blur(0.24em);
      }
  
      40% {
          filter: opacity(0) blur(0.20em);
          letter-spacing: 0.24em;
      }
  }
  
  .annimation{
    padding: 40px 0;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    font-size: 6rem;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1300px 0;
    animation:  back 8s linear infinite alternate; 




    /* transform: translate(-50% ,50%);
    font-size: 6rem;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation:  back 5s linear infinite alternate; */

  }
  @keyframes back {
    100%{
      background-position: 0 0;
    }
    
  }
  .catagory-name   {
width: 100%;
height: 200px;
  position: relative;
  opacity: 1;
}


