.robot-image img{
  padding: 1em;
  height: 10rem !important;
  width: 100%;
  object-fit: contain;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}






.rotating {
    /*border: 2px solid white;*/
    padding: 50px;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;*/
    position: relative;
    /*animation: rotatt 5s linear infinite;*/
}
.rotating .cont{
    position: relative;
    z-index: 2;

}
.rotating span:nth-child(1) {
    /*content: '';*/
    border: 2px solid white;
    padding: 50px;
    width: 100%;
    height: 100%;
    /*margin: 50px auto;*/
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: rotatt 1s linear infinite;
}
.rotating span:nth-child(2) {
    /*content: '';*/
    border: 2px solid white;
    padding: 50px;
    width: 100%;
    height: 100%;
    /*margin: 50px auto;*/
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: rotatt 5s linear infinite;
}
.rotating span:nth-child(3) {
    /*content: '';*/
    border: 2px solid white;
    padding: 50px;
    width: 100%;
    height: 100%;
    /*margin: 50px auto;*/
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: rotatt 10s linear infinite;
}

@keyframes rotatt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.row.justify-content-around.align-items-center img {
    position: relative;
}
.row.justify-content-around.align-items-center img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg, blue, red);
    padding: 30px;
    border-radius: 80% 45% 39% 44%;
    filter: blur();
}
.anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, skyblue, lime);
    z-index: -1;
    filter: blur(20px);
    border-radius: 13% 29% 39% 65%;
    animation: enlarge 10s linear infinite;
    transform: rotate(0deg) scale(0.7);
}

.anim2{
    background: linear-gradient(45deg, red, yellow);
}
.anim3{
    background: linear-gradient(45deg, purple, tomato);
}

@keyframes enlarge {
    /*0% {*/
    /*    transform: scale(1);*/
    /*}*/

    /*50% {*/
    /*    transform: scale(0.5);*/
    /*}*/
    /* 100% {*/
    /*    transform: scale(1);*/
    /*}*/
    0% {
        transform: rotate(0deg) scale(0.7);
        border-radius: 43% 89% 49% 25%;
    }

    100% {
        transform: rotate(360deg) scale(0.7);
        border-radius: 23% 24% 35% 65%;
    }
}




.btn-basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  font-family: "montserrat-bold";
  border: 1px solid rgb(198, 198, 198);
  padding: 0.5em 1.5em;
}

.btn-basic span {
  color: #0056cf;
}

.btn-basic:hover {
  opacity: 0.7;
}

.reveal-toggler {
  display: none;
}

.hidden-text {
  display: none;
}



.animate {
  transition: 1.5s all ease-in-out;
}




.home .sec2 {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
/*.about .sec5 {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    overflow: hidden;*/
/*    padding: 15rem 1rem 3rem;*/
/*    background-color: #fbfbfd;*/
    /* display: none; */
/*    top: 0;*/
/*}*/
.home .sec2 h2 {
  font-family: "popins-bold";
  text-align: center;
}

.home .sec2 p {
  font-family: "open-sans-medium";
  text-align: center;
}

.home .sec2 .row {
  background: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
  margin: 2em 0;
  overflow-x: hidden;
}

.home .sec2 .row .col-lg-5 img {
  max-height: 20rem;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}

.home .sec2 .row .col-lg-6 h3 {
  font-family: "popins-bold";
  font-size: 2rem;
  color: #0066db;
}

.home .sec2 .row .col-lg-6 p {
  padding-block: 0.5em 1em;
  text-align: left;
}

.home .sec2 .bg1 {
  position: absolute;
  top: 5%;
  right: 0;
  width: 15%;
  min-width: 200px;
  z-index: -1;
  transition: 0.1s all;
}

.home .sec2 .bg2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 15%;
  min-width: 200px;
  z-index: -1;
  transition: 0.1s all;
}

.home .sec3 {
  position: relative;
  overflow: hidden;

}


.home .sec3 h2 {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding-top: 10rem;
}

.home .sec3 .bg {
  position: absolute;
  top: 5rem;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: black;
  filter: opacity(0);
}

.home .sec3 .bg1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  object-fit: cover;
  object-position: top;
}

.home .sec3 .row {
  padding-top: 10vw;
}

.home .sec3 .card {
  background: none;
  padding: 0;
  padding-block: 3em;
  border: none;
}

.home .sec3 .card .card-header {
  padding: 0;
  position: relative;
  min-height: 20rem;
  width: 100%;
  border: none;
  box-shadow: none;
}

.home .sec3 .card .card-header .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20rem;
  width: 100%;
  gap: 0.5em;
}

.home .sec3 .card .card-header .grid .img {
  width: 100%;
  height: 10rem;
  position: relative;
}

.home .sec3 .card .card-header .grid .img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.5s all ease;
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.2));
}

.home .sec3 .card .card-header .grid .img::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #222222;
  transition: 0.5s all ease;
  z-index: -1;
}

.home .sec3 .card .card-header .grid .img:hover img {
  transform: scale(1.2);
}


.home .sec3 .card .card-header img {
  padding: 1em;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home .sec3 .card .card-header .float1 {
  position: absolute;
  top: -10%;
  right: 10%;
  width: 17%;
  height: 50px;
  padding: 0;
  transition: 0.5s all ease-in-out;
  filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.263));
}

.home .sec3 .card .card-header .float2 {
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 10%;
  height: 50px;
  padding: 0;
  transition: 0.5s all ease-in-out;
  filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, 0.263));
}

.home .sec3 .card .card-header img {
  width: 100%;
  object-fit: contain;
}

.home .sec3 .card .card-body {
  padding: 0;
  min-height: 233px;
}

.home .sec3 .card .card-footer {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* .home .sec3 .card .card-footer .reveal-btn {
  color: white;
} */

.home .sec3 .card h4 {
  color: #237fe8;
  font-family: "popins-bold";
  padding-block: 1.2em 0.3em;
}

.home .sec3 .card p {
  font-family: "open-sans-regular";
  color: rgb(0, 0, 0);
}

/*.video2 {*/
/*  background: white;*/
/*  padding: 5rem 0 0;*/
/*}*/

.video2 {
    padding: 5rem 0 0;
    position: relative;
    overflow: hidden;
}

.video2 .container {
  padding: 0;

}

.video2 .player-controlls * {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  padding: 1em;
  color: white;
  mix-blend-mode: difference;
}

.video2 .player-controlls #player-next {
  right: 0;
  left: auto;
}

.video2 .pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.video2 .pagination .pag {
  background-color: white;
  opacity: 0.2;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 1em;
  transition: 0.5s all ease;
}

.video2 .pagination .pag.active {
  opacity: 1;
}

.video2 h3 {
  text-align: center;
  padding: 0.5em 0;
  margin: 0;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.86);
  pointer-events: none;
}

.video2 p {
  text-align: center;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  transform: translateY(-0em);
  pointer-events: none;
}

.video2 iframe {

}
.video-slider{
}





/*maruf's code*/
/*.bg-info.py-2 {*/
/*    padding: 5px !important;*/
/*    background: transparent !important;*/
/*    position: relative;*/
/*    top: 20px;*/
/*    z-index: 1000;*/
/*}*/
/*.home .sec1 {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    background: linear-gradient(rgba(99, 164, 239, 0.8), rgba(255,255,255,0.6));*/
/*    top: -40px;*/
/*    margin-bottom: -40px;*/
/*    padding-top: 80px !important;*/
/*}*/
.services .sec3 .bg {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 250%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    transform: scaleX(-1);
    background: white;
}
.video .menu {
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 5;
}
.video .menu li:hover {
    width: 4rem;
    height: 4rem;
}
.video .menu li:hover img {
    width: 1.2rem;
}
.video .menu li {
    display: grid;
    place-content: center;
    height: 3rem;
    aspect-ratio: 1;
    padding: 0.4em;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #59aada;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s all;
    width: 3rem;
}
.video .menu label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    color: white;
    background: #59aada;
    display: grid;
    /* place-content: center; */
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    transition: 0.5s all ease;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s all;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    min-height: 3rem !important;
    overflow: hidden;
}
/*.menu label {*/
    /* display: none !important; */
/*    position: relative !important;*/
/*}*/

@media screen and (min-width: 1023px) {
  .navbar {
    color: white;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    min-height: 5rem;
    transition: 0.5s all ease;
  }
  .navbar .navbar-brand img {
    height: 3rem;
    width: 100%;
    object-fit: contain;
  }

  .navbar .navbar-collapse {
    max-width: 70%;
    padding-left:130px;
  }

  .navbar .search-form {
    display: none;
    width: 400px;
  }

  .navbar a {
    color: white;
  }

  .navbar .nav-link {
    display: block;
    margin: 0em 0.1em;
  }

  .navbar .navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .navbar .search-toggle {
    padding: 0 1em;
    background-color: transparent;
    border: none;
    border-inline: 2px solid white;
  }

  .navbar .search-form.show {
    position: absolute;
    top: 6rem;
    right: 30px;
    display: flex;
  }

  .video {
    padding-top: 0rem;
  }

  .home .sec1 .bg {
    max-width: 50%;
  }

  .home .sec1 .col-lg-6 img {
    width: 100%;
  }

  .home .sec2 .col-lg-5.text {
    padding-right: 4em;
  }

  .home .sec2 .bg1 {
    top: 10%;
    opacity: 0.5;
  }

  .home .sec2 .bg2 {
    top: 50%;
  }

  .home .sec2 .row {
    background: none;
    padding: 3rem 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }

  .home .sec3 h2 {
    color: black;
    padding-block: 5rem;
  }

  .home .sec3 .bg {
    object-fit: unset;
    height: calc(100% + 15vw);
    bottom: 0;
    background-color: transparent;
  }

  .home .sec3 .bg1 {
    height: calc(100% + 15vw);
    height: 100%;
    bottom: 0;
  }

  .home .sec3 .row {
    padding-top: 0vw;
  }
}
 .float1 , .float2{
  position: absolute;
  animation: sliding infinite 5s;
}
.float1:nth-child(1) {
  animation-delay: 0.5s;
}
.float1:nth-child(2) {
  animation-delay: 1s;
}
.float2:nth-child(1) {
  animation-delay: 0.5s;
}
.float2:nth-child(2) {
  animation-delay: 1s;
}
@keyframes sliding {
  50% {
    transform: translateX(20px) rotate(20deg);
  }
}

/* banner */

@media screen and (max-width: 769px) {
  .banner h3 {
    padding-top: 5rem !important;
  }
}




.reveal-btn {
  font-family: sans-serif;
  padding: 0.5em 1.5em;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.reveal-btn
{
  background-color: #ffffff ;
  border-radius: 40px;
  transition: 2s;
  overflow: hidden !important;
  line-height: 40px;
  width: 160px;
  text-align: center;
}
.reveal-btn:hover{
  background-color: #00072f ;

  color: #fff;
  box-shadow: -15px 0 20px rgba(255, 20, 152, 1) ,15px 0 20px rgba(122, 0, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, .5), 0 0 25px rgba(255, 255, 255, .5), 0 0 35px rgba(255, 255, 255, .5),;
}

.reveal-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 20, 152, 0);
  fill: blur(4px);
  transition: 1s;
  z-index: -1;
overflow: hidden;
}
.reveal-btn::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(122, 0, 255, 0);
  fill: blur(4px);
  transition: 1s;
  z-index: -1;
  mix-blend-mode: lighten;

}
.reveal-btn:hover::after{
  transform: scaleX(5);

}

.home .sec3 .card .card-header .grid .img:hover::before {

  box-shadow: -15px 0 20px rgb(49, 170, 231) ,15px 0 20px rgb(75, 25, 224);
  transform: scale(0.8);
  /* text-shadow: 0 0 10px rgba(255, 255, 255, .5), 0 0 25px rgba(255, 255, 255, .5), 0 0 35px rgba(255, 255, 255, .5),; */
}


.round{
  border-radius:0 0  15px  15px ;
}
.round2{
  border-radius: 15px 15px 0 0;
}


.carousel-indicators{
  display: none !important;
}
