.main-body::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(111, 174, 245, 0.899), rgba(255, 255, 255, 0.919));
    z-index: -2;
}
.curve svg{
    transform: scale(-1);
    display: block;
}
.curve{
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -3;
}

.main-img{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    object-position: top;

}
.main-body{
    position: relative;
    overflow: hidden;
}
.glass-texts{
    color: aliceblue;
    font-size: 1rem;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px)!important;
    background-image: linear-gradient(90deg,hsla(0,0%,51%,.067),hsla(0,0%,46%,.145));
    border: 2px outset #dfc6c6!important;
    border-bottom: 2px solid #fff3;
    border-radius: 0.8em;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    box-shadow: 0 2px 5px #0005;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px;

}
.newsletter form{
    width: 80%;
}
.newsletter button{
    background-image: linear-gradient(45deg,#cc2b5e ,#753a88);
    padding: 10px 80px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    margin: 0 20px;
}
.newsletter .txt_field input {
    color: white;

}
 .newsletter .txt_field label{
    color: white;
}