.main-body::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(111, 174, 245, 0.899), rgba(255, 255, 255, 0.919));
    z-index: -2;
}
.curve svg{
    transform: scale(-1);
    display: block;
}
.curve{
    position: absolute;
    background-color: #17182447;
    height:130vh;
    width: 100%;
    background-size: cover;
    z-index: -3;
}

.main-img{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    object-position: top;

}
.main-body{
    position: relative;
    overflow: hidden;
}